@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  div::-webkit-scrollbar-thumb {
    background: rgb(60, 0, 128);
    border-radius: 10px;
  }
}

@layer utilities {
  .container {
    @apply px-4 max-w-full w-full;
  }

  /* Headings */

  .heading-1 {
    @apply text-xl font-bold tracking-wide mb-4 text-gray-700 dark:text-gray-300;
  }

  .heading-2 {
    @apply text-gray-800 dark:text-gray-200 tracking-wider text-sm capitalize;
  }

  .heading-3 {
    @apply text-xl font-semibold tracking-wide text-gray-700 dark:text-gray-300;
  }

  .heading-4 {
    @apply text-gray-800 dark:text-gray-200 tracking-wider capitalize;
  }

  .card {
    @apply border bg-white dark:bg-white/[0.03] border-gray-200 dark:border-gray-800 p-4 rounded-lg;
  }

  .icon {
    @apply w-5 h-5 text-gray-800 dark:text-gray-200;
  }
}
